@media screen and (max-width: 768px) {
    #desktop-nav {
        display:none;
    }
    #hamburger-nav {
        display: flex;
    }

    section {
        margin: .5rem;

    }

    #hero-section {
        flex-direction: column-reverse;
        gap: 2rem; 
      }

    .project-grid {
        flex-direction: column;
    }

    .timeline-all {
        min-width: none;
    }
}

